@{
    ViewBag.Title = "Parola Sıfırlama Bilgisi";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifreniz sıfırlandı.  @Html.ActionLink("Giriş yapmak için Tıklayınız.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
