@{
    ViewBag.Title = "Hakkımızda";
}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h4>
            <font color="#312D2D">Ben Kimim? Bu Sitenin Amacı Nedir?</font>
        </h4>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p align="center" style="font-size:16px;margin:50px 20px 0 30px">
                
                Öncelikle Merhaba,<br />
                Ben Zeynep Torun. Sakarya Üniversitesi Bilgisayar Mühendisliği öğrencisiyim. Kitap okumaktan ve onları 
                paylaşmaktan hoşlanan, benim gibi hisseden insanlarlarla bir arada olmaktan mutluluk duyan biriyim...
                Kitaplarımı paylaşıp, kitap sevenleri bir araya getirmek için bu kulübü oluşturdum. Kulüp olarak kitap 
                paylaşımlarında bulunup, çeşitli etkinliklerde bir araya geliyoruz, kütüphanemizi çalışmak ve kitap 
                okumak için kullanabiliyoruz.
                    Üyelerimiz kütüphaneye gelip almak istediği kitabın bir başka üye tarafından alınmış 
                olması ve kitabı tekrar almaya gelmek için vakit bulamaması gibi bir duruma karşı, kütüphaneye
                gelmeden almak istedikleri kitabı önceden rezerve edebilmelerini sağlamak amacıyla da bu site hazırlandı.
                Böylece üyelerimiz istediği kitabı kütüphanemizde o anda bulunup bulunmadığına bakabilir, ayırtabilir... 
            </p>
        </div>
        <div class="col-md-4"align="center" >
            <br /><br />
            <img src="~/Content/resimler/ben.jpg"  class="img-circle" style="max-height:250px;max-width:250px;position:center;border:outset"  />
        </div>
    </div>


    <div class="panel-body">
        <p style="max-width:800px">
            <h3> Kütüphane Hakkında</h3>
                Aranan kitap başka bir kullanıcı tarafından ödünç alınmış ise, geri getirildiğinde ödünç alınmak üzere yapılan
            işleme "rezervasyon (Ayırtma)" denir. Kullanıcı sitemiz üzerinden kendi hesabına girer ve katalog tarama yaparak
            istediği kitabı ayırtma işlemini yapabilir. Ayrılan kitaplar kullanıcıya bildirimden itibaren 7 gün içinde alınmazsa
            ayırtma işlemi iptal edilir. Üyeler en fazla 3 kitabı ayırtabilir.

            <h3> Peki Bağış Yapmak İster Misin? </h3>
                Herhangi bir ticari amacı olmayan bir kulubüyüz. Tüm kitaplar ücretsiz olarak sunuluyor. Üyelerimizden gelen
            kitaplarla da büyümeye devam ediyoruz.
            Sitemizdeki tüm içerikler benim tarafımdan yazıldı. Ayrıca sitenin hiç bir yerine reklam koymadım.
            Eğer siz de sunucu, hosting vs masraflarına katkıda bulunmak isterseniz benimle iletişime geçip, kütüphanemize bağış
            yapabilirsiniz.

        </p>
    </div>
</div>

